<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <nav class="relative bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex shrink-0 items-center">
                        <a class="text-sm font-medium text-white">DIKAN WEB</a>
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
                            <a href="/"
                                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Tugas1</a>
                            <a href="/tugas3"
                                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Tugas 3</a>
                            <a href="#" aria-current="page"
                                class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Tugas 4</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <el-disclosure id="mobile-menu" hidden class="block sm:hidden">
            <div class="space-y-1 px-2 pt-2 pb-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
                <a href="#" aria-current="page"
                    class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white">Dashboard</a>
                <a href="#"
                    class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">Team</a>
                <a href="#"
                    class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">Projects</a>
                <a href="#"
                    class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">Calendar</a>
            </div>
        </el-disclosure>
    </nav>

    <div class="max-w-4xl mx-auto p-6">
        <header class="items-center gap-4 mb-6">
            <div>
                <h1 class="text-2xl font-semibold">Genetic Algorithm</h1>
                <p class="text-slate-400 mt-1">Penyelesaian traveling salesman problem menggunakan algoritima genetika.</p>
            </div>
        </header>

        <main class="space-y-6">
            <section class="bg-gray-800 glass rounded-xl p-6 shadow-lg">
                <h2 class="text-lg font-semibold mb-3 text-slate-200">Masukan Nilai Fitur</h2>
                <form method="post" action="{% url 'tugas4' %}" class="space-y-4" novalidate>
                    {% csrf_token %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
                        <div>
                            <label class="block text-sm font-medium text-slate-200">Jumlah Kota</label>
                            <input
                            value="{{ cities_count }}"
                            type="number"
                            name="cities_count"
                            step="any"
                            inputmode="numeric"
                            pattern="[0-9]*"
                            oninput="this.value = this.value.replace(/,/g,'.')"
                            class="mt-1 block w-full rounded-md border border-gray-300 bg-slate-200 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
                            autocomplete="off"
                            >
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-slate-200">Jumlah Generasi</label>
                            <input
                            value="{{ generations }}"
                            type="number"
                            name="generations"
                            step="any"
                            inputmode="numeric"
                            pattern="[0-9]*"
                            oninput="this.value = this.value.replace(/,/g,'.')"
                            class="mt-1 block w-full rounded-md border border-gray-300 bg-slate-200 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
                            autocomplete="off"
                            >
                        </div>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
                        <div>
                            <label class="block text-sm font-medium text-slate-200">probabilitas crossover (%)</label>
                            <input
                            value="
                                {% if crossover_rate > 0 %}
                                    {{ crossover_rate }}
                                {% endif %}
                                "
                            placeholder="contoh: 5 untuk 5%"
                            type="number"
                            name="crossover_rate"
                            step="any"
                            inputmode="decimal"
                            pattern="[0-9]*[.,]?[0-9]*"
                            oninput="this.value = this.value.replace(/,/g,'.')"
                            class="mt-1 block w-full rounded-md border border-gray-300 bg-slate-200 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
                            autocomplete="off"
                            >
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-slate-200">probabilitas mutasi (%)</label>
                            <input
                            value="
                                {% if mutation_rate > 0 %}
                                    {{ mutation_rate }}
                                {% endif %}
                                "
                            placeholder="contoh: 5 untuk 5%"
                            type="number"
                            name="mutation_rate"
                            step="any"
                            inputmode="decimal"
                            pattern="[0-9]*[.,]?[0-9]*"
                            oninput="this.value = this.value.replace(/,/g,'.')"
                            class="mt-1 block w-full rounded-md border border-gray-300 bg-slate-200 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
                            autocomplete="off"
                            >
                        </div>
                    </div>

                    <div>
                    <button type="submit"
                            class="mt-3 inline-flex items-center px-4 py-2 text-sm font-medium rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 bg-blue-600 text-white hover:bg-blue-700">
                        Submit
                    </button>
                    </div>
                </form>
            </section>


            <section class="bg-gray-800 glass rounded-xl p-6 shadow-lg">
                <h2 class="text-lg font-semibold mb-3 text-slate-200">Problem</h2>
                {% if items|length == 0 %}
                    <p class="text-md font-semibold text-slate-200">Menunggu input...</p>
                {% else %}
                    <p class="text-md font-semibold text-slate-200 mb-2">Diketahui ada {{ cities_count }} kota dengan jarak antar kota sebagai berikut: </p>
                    <table class="w-full text-left mb-3 table-auto border-collapse">
                        <thead>
                            <tr class="text-slate-300/80">
                                <th class="px-4 py-2"></th>
                            {% for value in items.0 %}
                                <th class="px-4 py-2">{{ value }}</th>
                            {% endfor %}
                                <!-- <th class="px-4 py-2">Item</th>
                                <th class="px-4 py-2">Berat</th>
                                <th class="px-4 py-2">Nilai</th>
                                <th class="px-4 py-2">Fitness</th> -->
                            </tr>
                        </thead>
                        <tbody class="text-slate-200">
                            <tr class="border-t border-slate-700">
                                <th class="px-4 py-2 text-slate-300/80">
                                    {% for value in items.0 %}
                                        <p>{{ value }}</p>
                                    {% endfor %}
                                </th>
                                {% for value in items.1 %}
                                    <th class="px-4 py-2">
                                        {% for value1 in value %}
                                            <p>{{ value1 }}</p>
                                        {% endfor %}
                                    </th>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                    <p class="text-md font-semibold text-slate-200">
                        Bagaimana cara untuk menemukan rute terbaik menggunakan algoritma genetika selama {{ generations }} generasi?
                    </p>
                {% endif %}
            </section>

            <section class="bg-gray-800 glass rounded-xl p-6 shadow-lg overflow-x-auto">
                <h2 class="text-lg font-semibold mb-3 text-slate-200">Hasil Algoritma Genetika</h2>
                {% if items|length == 0 %}
                    <p class="text-md font-semibold text-slate-200">Menunggu input...</p>
                {% else %}
                    <p class="text-md text-slate-200">
                        Jarak terbaik ditemukan adalah <a class="font-bold">{{ best_dist }}</a> dengan rute :
                    </p>
                    <p class="text-md text-slate-200 mb-4">
                        {%for city in best_route %}
                            <a class="font-bold">{{ city }}</a>{% if not forloop.last %} &rarr; {% endif %}
                        {%endfor%}
                    </p>
                    <p class="text-md font-semibold text-slate-200">History</p>
                    <table class="w-full text-left mb-3 table-auto border-collapse">
                        <thead>
                            <tr class="text-slate-300/80">
                                <th class="px-4 py-2">Generasi</th>
                                <th class="px-4 py-2">Jarak terbaik</th>
                            </tr>
                        </thead>
                        <tbody class="text-slate-200">
                            {% for item in history %}
                            <tr class="border-t border-slate-700">
                                <th class="px-4 py-2">Generasi ke-{{ forloop.counter }}</th>
                                <th class="px-4 py-2">{{ item }}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </section>

        </main>
    </div>
</body>

</html>